@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import 'tailwindcss';

body {
  background-color: black;
  font-family: 'Dosis', sans-serif;
  color: white;
}

@theme {
  --color-blk-0: hsl(0 0% 0%);
  --color-blk-5: hsl(0 0% 5%);
  --color-blk-10: hsl(0 0% 10%);
  --color-blk-15: hsl(0 0 15%);
  --color-text-base: hsl(0 0% 95%);
  --color-text-muted: hsl(0 0% 70%);
  --color-border: hsl(0 0% 30%);
}

.input {
  @apply w-full px-4 py-3 rounded-2xl
  bg-blk-10 border border-border/70
  text-text-base
  focus:ring-2 focus:ring-[#F5CB5C]/25
  focus:border-[#F5CB5C]
  outline-none transition-all;
}

.label {
  @apply text-xs font-semibold uppercase
  tracking-widest text-text-muted ml-1;
}

